@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/extend';

@import 'vendors/bootstrap';

@import 'base/reset';
@import 'base/typography';

/* form */
@import 'form/index';
@import 'form/button';
@import 'form/text';
@import 'form/number';
@import 'form/search';
@import 'form/checkbox';
@import 'form/radio';
@import 'form/select';
@import 'form/textarea';
@import 'form/placeholder';
@import 'form/readonly';
@import 'form/disabled';
@import 'form/required';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/navigation';
@import 'layout/sidebar';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/cover';
@import 'components/dropdown';

@import 'pages/home';
@import 'pages/contact';

@import 'themes/theme';


.bg {
  background: ul() no-repeat center bottom 1rem / 1.2rem auto #fff;
}

.warp {
  font-size: 1.4rem; // 14px
  padding: 10rem; // 100px
  @include fs(14, 20); 
}


